<div class="card">
  <div class="card-header">
    <h1>The Strong Family</h1>
  </div>
  <div class="card-body">
    <p>I, Charlie Strong, am originally from Victoria, Texas, and my wife, Angela, is originally from Nueva Guinea, Nicaragua, although she has lived in Costa Rica almost all of her life. Our daughter, Anna Elena, was born in Costa Rica in March of 2009. I earned a Bachelor of Social Work degree from Southwest Texas State University and a Master of Divinity degree from Perkins School of Theology at Southern Methodist University. I worked in vocational ministry in the North Texas Conference of the United Methodist Church for almost 10 years, including youth, campus, and local church ministry and was formerly a registered Individual Volunteer with United Methodist Volunteers in Mission. God instilled a heart for missions within me while I was in my early twenties, and both this claim on my heart and the Gospel speak very clearly to me of Christ’s call to be in ministry to the poor.</p>

    <p>Through Angela’s life here and my travels and work within Costa Rica and Nicaragua, as well as the U.S., Mexico, Europe, Africa, and Russia, we have become acutely aware of a multitude of suffering children needing basic opportunities and resources not available to them due to their socioeconomic status. Strong Missions was created in 2003 to lend assistance to such children and their families as well as other deserving people facing struggles due to lower economic status.</p>

    <p>Our guarantee to you is that if you join us in this work, whether it be a mission trip or financial or prayerful support of one of our many children’s programs, that you will be able to make a real and lasting impression in the lives of the economically oppressed. In addition, you will develop a good understanding of the Costa Rican culture as well as a renewed heart for the mission of the Church to the poor.</p>

    <p><small>- Charlie, Angela and Anna Strong</small></p>
  </div>
</div>
