<div class="card">
  <div class="card-header">
    <h1>STRONG MISSIONS</h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">Welcome to Strong Missions</h5>
    <p class="card-text">To learn about us click the About Us tab in the navigation bar. To login/signup click the Login/Signup tab in the navigation bar.</p>
  </div>
</div>
