<div class="card">
  <div class="card-header">
    <h1>Angela Gonzalez</h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">Empowered Communities Coordinator</h5>
    <p class="card-text">In addition to taking care of Charlie and Anna, Angela manages the kitchen at Strong Missions and helps with the logistics of the Loaves and Fishes feeding programs as well as Human Resources. Angela is currently finishing school for business management and hopes to run her own business in the future while still supporting the mission. She has a yellow belt in karate so make sure you stay on her good side!</p>
  </div>
</div>
<br/>
<div class="card">
  <div class="card-header">
    <h1>Roy Leon</h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">Program Assistant</h5>
    <p class="card-text">Roy is a native of Barranca, Puntarenas; he enjoys walking along the beach and watching the sunset while the foam vanishes in his footsteps. Roy enjoys working with people and always seeks to change the conditions of poverty in communities. He Loves surfing, travel, practicing martial arts, reading, and problem solving. He has worked the last 10 years with local development, housing, and public space projects.</p>
  </div>
</div>
<br/>
<div class="card">
  <div class="card-header">
    <h1>Wilberth Mora Gonzalez</h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">Construction Foreman</h5>
    <p class="card-text">Wilberth began working with Strong Mission in 2005. He works closely with all the groups and enjoys getting to know the teams. He is a dedicated worker and a pleasure to have as part of the Strong Missions family. His wife Elisabeth also works as a cook and they have 4 children and 3 grandchildren. His English is better than he lets on, so feel free to quiz him on the worksite.</p>
  </div>
</div>
<br/>
<div class="card">
  <div class="card-header">
    <h1>Warner Gonzalez Herra</h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">Construction</h5>
    <p class="card-text">Warner began working with Strong Missions in 2010. He is Wilberth’s brother and it is fun to have the brothers working together with the teams. When asked what he likes to do in his free time, his response was a smile and that he liked to work which isn’t a surprise coming from such a hard-working guy.</p>
  </div>
</div>